
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    <div>
        <h1>{{ todolist.name }}</h1>
        <div>
          <a href="{% url 'todo_list_update' todolist.id %}">Edit</a>
          <p>
          <a href="{% url 'todo_list_delete' todolist.id %}">Delete</a>
          </p>
        </div>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>

                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for task in todolist.items.all %}
                <tr>
                    <td><a href="{% url 'todo_item_update' task.id %}">{{ task.task }}</a></td>
                    <td>{{ task.due_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </main>
</body>

</html>